.dedistract-banner {
  position: fixed;
  width: 100vw;
  height: 50px;
  top: calc(100vh - 50px);
  background: white;
  border-top: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

.disable-dedistract .dedistract-banner {
  display: none;
}

.dedistract-dialog {
  position: fixed;
  width: 50vw;
  height: 50vh;
  top: 25vh;
  left: 25vw;
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.dedistract-dialog input {
  width: 80%;
  outline: 1px solid black;
}
.dedistract-dialog > div {
  display: block;
}
.disable-dedistract .dedistract-dialog {
  display: none;
}

/* animation for a grey circle that grows and shrinks slowly to guide breathing */
#breath-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: white;
  border: 3px solid #ccc;
  border-radius: 50%;
  animation: breath 6s infinite;
}

@keyframes breath {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}