.content-main > .stream-container {
    visibility: hidden;
}
.disable-dedistract .content-main > .stream-container {
    visibility: visible;
}

div[data-testid=primaryColumn] {
    visibility: hidden;
}
.disable-dedistract div[data-testid=primaryColumn] {
    visibility: visible;
}

[aria-label='Timeline: Trending now'] {
    visibility: hidden !important;
}
.disable-dedistract [aria-label='Timeline: Trending now'] {
    visibility: visible;
}