/* Remove video grid on homepage */
ytd-browse[page-subtype=home] {
  display: none;
}

/* Completely hide shorts */
ytd-shorts {
  display: none !important;
}

ytd-mini-guide-entry-renderer[aria-label=Shorts] {
  display: none !important;
}

/* Remove all "Show more..." bars */
#continuations {
  display: none;
}

/* Hide related videos in sidebar */
.ytd-compact-video-renderer {
  display: none;
}

/* Hide endscreen related videos */
.ytp-endscreen-content {
  display: none;
}
